/**
    testimonial-area
**/
.cta-area {

	@media screen  and (max-width: 1199px) { 
        padding-bottom: 100px;
    }

    @media screen  and (max-width: 991px) { 
        padding-bottom: 80px 0;
    }

    @media screen  and (max-width: 767px) { 
        padding-bottom: 60px 0;
    }

	.container {
		max-width: 1194px;
	}

    &__wrapper {
        background-color: #101B18;
        @include border-radius(35px);
    }
}
