/**
    testimonial-area
**/
.testimonial-area {

	@media screen  and (max-width: 1199px) { 
        padding-bottom: 100px 0;
    }

    @media screen  and (max-width: 991px) { 
        padding-bottom: 80px 0;
    }

    @media screen  and (max-width: 767px) { 
        padding-bottom: 60px 0;
    }

	.container {
		max-width: 1194px;
	}

	&__content {
		max-width: 860px;

		@media screen  and (max-width: 991px) { 
			margin-bottom: 40px;
		}

		@media screen  and (max-width: 767px) { 
			margin-bottom: 30px;
		}

		.title {
			color: #1D1D1D; 
			font-size: 48px;
			line-height: 58px;

			@media screen  and (max-width: 1199px) { 
				font-size: 42px;
				line-height: 52px;
				margin-bottom: 15px;
			}

			@media screen  and (max-width: 991px) { 
				font-size: 36px;
				line-height: 46px;
				margin-bottom: 10px;
			}

			@media screen  and (max-width: 767px) { 
				font-size: 32px;
				line-height: 42px;
			}

			@media screen  and (max-width: 575px) { 
				font-size: 28px;
				line-height: 38px;
			}

			@media screen  and (max-width: 480px) { 
				font-size: 26px;
				line-height: 36px;
			}
		}
	
		p {
			font-size: 16px;
			color: #595959;
			line-height: 24px;
		}
	}


	.slick-dotted.slick-slider {
		margin-bottom: 60px;

		@media screen  and (max-width: 991px) { 
			margin-bottom: 45px;
		}

		@media screen  and (max-width: 767px) { 
			margin-bottom: 35px;
		}
	}

	.slider-controls .slick-dots {
		margin: -5px;
		bottom: -60px;

		display: flex;
		align-items: center;
		justify-content: center;

		@media screen  and (max-width: 991px) { 
			bottom: -45px;
		}

		@media screen  and (max-width:  767px) { 
			bottom: -35px;
		}

		li {
			width: 10px;
			height: 10px;
			margin: 5px;
			background-color: #DFDFDF; 
			@include border-radius(500px);
			@include transition(all .3s ease);

			&.slick-active { 
				background-color: #B5B5B5;
			}

			button {
				display: none;
			}
		}
	}

	&__slider {

		&-wraper {  
			position: relative;
		}

		.slide-arrow {
			border: 0;
			z-index: 1;
			width: 57.58px;
			color: #fff;
			font-size: 27px;
			height: 57.58px;
			line-height: 57px;
			position: absolute;
			background: #BFBFBF;
			top: calc(50% - 28.75px);
			@include border-radius(500px);
			
			@media screen  and (max-width: 991px) { 
				width: 45px;
				height: 45px;
				line-height: 45px;
				font-size: 20px;
			}

			&.prev-arrow {
				right: 0;
			}
		}
	}

	.slick-list {
		margin-left: auto;
		margin-right: auto;
		max-width: 993.91px;

		.slick-track {
			height: 100%; 

			.slick-slide {
				padding-left: 12.5px;
				padding-right: 12.5px; 
				float: left !important;

				&.slick-active {
					// filter: drop-shadow(18px 18px 80px rgba(0, 0, 0, 0.08));
				}
			}
		}
	}

	&__item {
		padding: 35px 23px;
		background: #FFFFFF;
		border: 2px solid #F7F7F7;
		@include border-radius(12.866px);

		@media screen  and (max-width: 767px) { 
			padding: 30px 20px;
		}
 
		&-media {
			width: 63.04px;
			height: 63.04px;
			overflow: hidden;
			@include border-radius(500px);
		}

		&-description {

			p {
				color: #595959;
				line-height: 15px;
				font-size: 10.2928px;
			}
		}

		&-meta { 

			.name {
				color: #595959;
				line-height: 15px;
				font-style: normal;
				font-size: 10.2928px;
			}

			.position {
				color: #595959;
				font-weight: 400;
				font-style: normal;
				line-height: 15px;
				font-size: 10.2928px;
			}
		}
	}
}
